<?xml version="1.0" encoding="utf-8"?>
<Nexio version="1.0.0">
  <API_URL></API_URL>
  <USERNAME></USERNAME>
  <PASSWORD></PASSWORD>
  <JWT></JWT>
  <MERCHANT_ID></MERCHANT_ID>
  <GATEWAY_NAME></GATEWAY_NAME>
  <TOKENEX_TOKEN></TOKENEX_TOKEN>
  <TRANSACTION_REF_NUMBER></TRANSACTION_REF_NUMBER>
</Nexio>